@import "../../styles/commons.scss";

.task-list {
  padding: 0 1em;
  margin: 1em 0;
  overflow: auto;
  height: 100%;
}

.task-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1em;
  border: 1px solid $grey-10;
  border-radius: 4px;
  background: $white;
  margin: 1em 0;

  .row1 {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    }

  .task-title {
    font-size: 1.5em;
    font-weight: 700;
  }

  .task-time {
    font-size: 1.5em;
    font-weight: 300;
  }

  .card-header {
    justify-content: space-between;
    display: flex;
  }

  .body-text {
    margin: 0.5em 0;
    white-space: nowrap;
    overflow: hidden;
  }

}
.button{
  display: flex;
  border: unset;
  position: absolute;
  height: 1.9em;
  width: 1.9em;
  border-radius: 50%;
  right: -4%;
  top: -10%;
  justify-content: center;

  .image{
    height: 1.2em;
  }
}